#loading {
	width: 80px;
	height: 80px;
	margin: -68px 0 0 -68px;
	background: #BABABA; 
	opacity: 0.5; 
	border-radius: 15px; 
	position: fixed; 
	left: 50%; 
	top: 50%; 
}

.nem-orange{
    color: #F7A800;
}
.nem-blue{
    color:#67B2E8;
}
.nem-green{
    color:#00C4B3;
}